---
import Layout from "../../layouts/Layout.astro";
import { AuthCard } from "../../components/auth/AuthCard";
import { ResetPasswordForm } from "../../components/auth/ResetPasswordForm";
---

<Layout title="Reset Password - 10x Cards">
  <main class="container mx-auto px-4 min-h-screen flex items-center justify-center">
    <AuthCard title="Reset Password" description="Forgot your password? No problem">
      <ResetPasswordForm client:load />
    </AuthCard>
  </main>
</Layout>
