---
import Layout from "../../layouts/Layout.astro";
import { AuthCard } from "../../components/auth/AuthCard";
import { ResetPasswordConfirmForm } from "../../components/auth/ResetPasswordConfirmForm";
---

<Layout title="Set New Password - 10x Cards">
  <main class="container mx-auto px-4 min-h-screen flex items-center justify-center">
    <AuthCard title="Set New Password" description="Create a new password for your account">
      <ResetPasswordConfirmForm client:load />
    </AuthCard>
  </main></Layout
>
